{% extends "base.html" %} {% block title %}AutoJobApp{% endblock title %} {%
block styles %} {{ super() }}
<style>
  #scrape-container {
    padding: 10px 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  #job-entries-container li {
    margin: 10px 0;
    padding: 10px;
    background-color: var(--surface);
    border: 2px solid var(--borders);
    border-radius: 5px;
  }

  .job-data-container {
    padding: 10px;
    border: 2px solid var(--borders);
    border-radius: 5px;
    margin: 10px 0;
  }

  .job-data {
  }

  button {
    padding: 0.5rem;
  }

  #scraping-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 10px;
    border-color: var(--field-border);
    border-width: 1px;
    border-style: solid;
  }

  #llm-generation-container {
    display: flex;
    flex-direction: column;
  }

  #jobs-filter-btn-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;
    background-color: var(--surface);
    padding: 1rem;
    border-radius: 10px;
  }

  #jobs-filter-btn-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
  }

  /*#jobs-filter-btn-list li {*/
  /*    background-color: var(--link);*/
  /*}*/

  #run-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  #job-filter-head {
    margin: 0 auto;
  }

  #scrape-btn-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 1rem;
  }

  #status-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  #status-dot {
    display: inline-block;
    height: 15px;
    width: 15px;
    background-color: var(--field-disabled-text);
    border-radius: 50%;
    text-align: center;
  }

  @keyframes dot-animation {
    0% {
      transform: scale(1);
      opacity: 0.8;
    }
    50% {
      transform: scale(1.5);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0.8;
    }
  }
</style>
{% endblock styles %} {% block content %}
<!--<div id="scrape-container">-->
<!--</div>-->

<div id="jobs-filter-btn-container">
  <div>
    <!--        <h2 id="job-filter-head">Job Display filter</h2>-->
<!--    <ul id="jobs-filter-btn-list">-->
<!--      <li>-->
<!--        <div id="all-scraped-jobs">-->
<!--          <input type="radio" name="job-records" id="all-scraped" checked />-->
<!--          <label for="all-scraped">All scraped</label>-->
<!--        </div>-->
<!--      </li>-->
<!--      <li>-->
<!--        <div id="already-scraped-jobs">-->
<!--          <input type="radio" name="job-records" id="already-scraped" />-->
<!--          <label for="already-scraped">Already scraped</label>-->
<!--        </div>-->
<!--      </li>-->
<!--      <li>-->
<!--        <div id="newly-scraped-jobs">-->
<!--          <input type="radio" name="job-records" id="newly-scraped" />-->
<!--          <label for="newly-scraped">Newly scraped</label>-->
<!--        </div>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--  <hr />-->
  <div id="run-container">
    <details>
      <summary>Run Options</summary>

      <form id="scraping-form">
        <div>
          <input
            type="checkbox"
            id="generate-cover-letter"
            name="generate_cover_letter"
          />
          <label for="generate-cover-letter"
            >Option whether to generate cover letter</label
          >
        </div>
        <hr />
        <div id="llm-generation-container">
          <div>
            <input
              type="radio"
              id="llm-generation"
              name="cv_creation_mode"
              value="llm-generation"
              checked
            />
            <label for="llm-generation">Generate CV using LLM</label>
          </div>
          <div>
            <input
              type="radio"
              id="llm-selection"
              name="cv_creation_mode"
              value="llm-selection"
            />
            <label for="llm-selection"
              >Let LLM select skills and insert them into template</label
            >
          </div>
          <div>
            <input
              type="radio"
              id="no-llm-generation"
              name="cv_creation_mode"
              value="no-llm-generation"
            />
            <label for="no-llm-generation"
              >Let application insert skills into CV template</label
            >
          </div>
          <div>
            <input
              type="radio"
              id="user-specified"
              name="cv_creation_mode"
              value="user-specified"
            />
            <label for="user-specified">Use CV created by the user</label>
          </div>
        </div>
        <div id="cv-file-container" hidden>
          <input type="file" id="cv-file" name="cv_file" accept=".pdf" />
          <label for="cv-file">CV file to use</label>
        </div>
        <hr />
        <div>
          <input
            type="number"
            id="retries"
            name="retries"
            min="1"
            max="10"
            value="3"
          />
          <label for="retries">Number of retries</label>
        </div>
        <div>
          <button id="save-preferences-btn">Save preferences</button>
        </div>
      </form>
    </details>
    <div id="scrape-btn-container">
      <button onclick="scrape_jobs()" id="scrape-btn">Start job search</button>
      <p id="status-text">Run Status <span id="status-dot"></span></p>
    </div>
  </div>
</div>

<ul id="job-entries-container"></ul>
{% endblock content %} {% block scripts %}
<script>
  let eventSrc = null;

  const savePreferencesBtn = document.getElementById("save-preferences-btn");
  savePreferencesBtn.addEventListener("click", async (e) => {
    e.preventDefault();
    const formData = new FormData(document.getElementById("scraping-form"));

    await fetch("{{ url_for('save_preferences') }}", {
      method: "POST",
      body: formData,
    });
  });

  const CVCreationModeRadioBtns = document.querySelectorAll(
    'input[name="cv_creation_mode"]'
  );
  CVCreationModeRadioBtns.forEach((radio) => {
    radio.addEventListener("change", (e) => {
      const cvFileContainer = document.getElementById("cv-file-container");
      const cvFile = document.getElementById("cv-file");

      console.log(e.target.id);
      if (e.target.id === "user-specified") {
        cvFileContainer.removeAttribute("hidden");
      } else {
        console.log(cvFile.value);
        cvFile.value = null;
        cvFileContainer.setAttribute("hidden", "hidden");
      }
    });
  });

  // TODO: In the future
  // async function download_cv(path) {
  //     const response = await fetch("{ url_('download_cv') }}", {
  //         method: "POST",
  //         headers: {
  //             Accept: "application/json",
  //             "Content-Type": "application/json",
  //         },
  //         body: JSON.stringify(path),
  //     });
  // }
  // <a onclick="download_cv(${data.cv_path})">${data.cv_path}</a>

  function draw_job(data) {
    let jobContainer = document.getElementById("job-entries-container");
    let li = document.createElement("li");

    li.innerHTML = `
            <div>
                <h5>Job Title: </h5>
                <p class="job-data">${data.title}</p>
                <br>
                <h5>Location: </h5>
                <p class="job-data">${data.location}</p>
                <br>
                <h5>Company Name: </h5>
                <p class="job-data">${data.company_name}</p>
            </div>
            <details>
                <div class="job-data-container">
                    <h5>CV Path: </h5>
                    <p>${data.cv_path}</p>
                </div>
                <summary>Job details</summary>
                <div class="job-data-container">
                    <h5>Job Url: </h5>
                     <p>
                         <a href="${data.job_url}" target="_blank">${data.job_url}</a>
                     </p>
                </div>
                <div class="job-data-container">
                    <h5>Company Url: </h5>
                    <p>
                        <a href="${data.company_url}" target="_blank">${data.company_url}</a>
                    </p>
                </div>
                <div class="job-data-container">
                    <h5>Contract Type: </h5>
                    <p class="job-data">${data.contract_type}</p>
                </div>
                <div class="job-data-container">
                    <h5>Employment Type: </h5>
                    <p class="job-data">${data.employment_type}</p>
                </div>
                <div class="job-data-container">
                    <h5>Work Arrangement: </h5>
                    <p class="job-data">${data.work_arrangement}</p>
                </div>
                <div class="job-data-container">
                    <h5>Job Requirements: </h5>
                    <p class="job-data">${data.requirements}</p>
                </div>
                <div class="job-data-container">
                    <h5>Duties: </h5>
                    <p class="job-data">${data.duties}</p>
                </div>
                <div class="job-data-container">
                    <h5>About Project: </h5>
                    <p class="job-data">${data.about_project}</p>
                </div>
                <div class="job-data-container">
                    <h5>Company Benefits: </h5>
                    <p class="job-data">${data.offer_benefits}</p>
                </div>
                <div class="job-data-container">
                    <h5>Additional Information: </h5>
                    <p class="job-data">${data.additional_information}</p>
                </div>
            </details>
        `;
    jobContainer.appendChild(li);
  }

  async function scrape_jobs() {
    const button = document.getElementById("scrape-btn");
    const statusDot = document.getElementById("status-dot");

    if (button.innerText === "Start job search") {
      statusDot.style.backgroundColor = "#22C55E";
      statusDot.style.animationName = "dot-animation";
      statusDot.style.animationIterationCount = "infinite";
      statusDot.style.animationDuration = "4s";
      button.innerText = "Stop job search";

      eventSrc = new EventSource("{{ url_for('scrape_jobs') }}");
      eventSrc.onmessage = function (event) {
        const data = JSON.parse(event.data);
        if (data === null) {
          button.innerText = "Start job search";
          eventSrc.close();
          eventSrc = null;
          return;
        }
        draw_job(data);
      };
    } else {
      eventSrc.close();
      eventSrc = null;
      button.innerText = "Start job search";
      statusDot.style.backgroundColor = "#475569";
      statusDot.style.animationName = "";
      statusDot.style.animationIterationCount = "";
      statusDot.style.animationDuration = "";
    }
  }
</script>

{% endblock scripts %}
