{% extends "base.html" %} {% block title %}AutoApply | Login{% endblock title %}
{% block styles %} {{ super() }}
<style>
  main {
    justify-content: center;
    align-items: center;
  }

  #login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--surface);
    border-radius: 10px;
  }

  #login-form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  hr {
    width: 100%;
  }
</style>
{% endblock styles %} {% block content %}

<div id="login-container">
  <form action="{{ url_for('login') }}" method="post" id="login-form">
    <h1>Profiles</h1>
    <ul>
      {% for usr in users %}
      <li>
        <input
          class="form-check-input"
          type="radio"
          name="email"
          required="required"
          value="{{ usr.email }}"
          id="{{ usr.email }}"
        />
        <label class="form-check-label" for="{{ usr.email }}"
          >{{ usr.email }}</label
        >
      </li>
      {% endfor %}
    </ul>
    <input type="submit" value="Login" />
  </form>
  <hr />
  <a href="{{ url_for('register') }}">Create New Profile</a>
</div>

{% endblock content %} {% block scripts %} {% endblock scripts %}
