{% extends "base.html" %}

{% block title %}AutoApply | Register{% endblock title %}

{% block styles %}
{{ super() }}
<style>
    * {
        margin: 0;
        padding: 0;
    }

    html {
        overflow-x: hidden;
    }

    .container {
        margin: 20px auto;
        padding: 20px;
        border-radius: 10px;
        border-width: 2px;
        border-color: black;
        border-style: solid;
    }
</style>
<!-- TODO: In the future it may have to be changed -->
{% endblock styles %}

{% block content %}

<div class="container">
    <h3>Candidate Information</h3>
    <form class="row g-3" id="user-info">
        <input
                name="firstname"
                class="form-control"
                type="text"
                placeholder="First Name"
                aria-label="default input example"
        />
        <input
                name="middlename"
                class="form-control"
                type="text"
                placeholder="Middle name"
                aria-label="default input example"
        />
        <input
                name="surname"
                class="form-control"
                type="text"
                placeholder="Surname"
                aria-label="default input example"
        />
        <div class="col-md-3">
            <label for="customRange1" class="form-label">Enter your age</label>
            <input name="age" type="range" class="form-range"
                   id="customRange1"/>
        </div>
        <input
                name="email"
                class="form-control"
                type="email"
                placeholder="Email"
        />
        <input
                name="phone_number"
                class="form-control"
                type="text"
                placeholder="+00 000 000 000"
        />
    </form>
</div>

<div class="container">
    <h3>Locations</h3>
    <ul id="locations-list"></ul>
    <form class="row g-3" onsubmit="addLocation()" id="location-form">
        <input
                name="country"
                class="form-control"
                type="text"
                placeholder="Country"
        />
        <input
                name="state"
                class="form-control"
                type="text"
                placeholder="State"
        />
        <input
                name="city"
                class="form-control"
                type="text"
                placeholder="City"
        />
        <input
                name="zip_code"
                class="form-control"
                type="text"
                placeholder="Zip code"
        />
        <input type="submit" class="btn btn-dark" value="Add"/>
    </form>
</div>

<div class="container">
    <h3>Programming Languages</h3>
    <ul id="programming-languages-list"></ul>
    <form
            class="row g-3"
            onsubmit="addProgrammingLanguage()"
            id="programming-language-form"
    >
        <input
                class="form-control"
                type="text"
                placeholder="Programming language name"
                name="programming_language"
        />
        <select class="form-control form-control-lg" name="level">
            <option>Beginner</option>
            <option>Intermediate</option>
            <option>Expert</option>
            <option>Master</option>
        </select>
        <input type="submit" class="btn btn-dark" value="Add"/>
    </form>
</div>

<div class="container">
    <h3>Languages</h3>
    <ul id="languages-list"></ul>
    <form class="row g-3" onsubmit="addLanguage()" id="language-form">
        <input
                class="form-control"
                type="text"
                placeholder="Language name"
                name="language"
        />
        <select class="form-control form-control-lg" name="level">
            <option>Beginner</option>
            <option>Intermediate</option>
            <option>Expert</option>
            <option>Master</option>
        </select>
        <input type="submit" class="btn btn-dark" value="Add"/>
    </form>
</div>

<div class="container">
    <h3>Tools</h3>
    <ul id="tools-list"></ul>
    <form class="row g-3" onsubmit="addTool()" id="tool-form">
        <input
                class="form-control"
                type="text"
                placeholder="Tool name"
                name="tool"
        />
        <select class="form-control form-control-lg" name="level">
            <option>Beginner</option>
            <option>Intermediate</option>
            <option>Expert</option>
            <option>Master</option>
        </select>
        <input type="submit" class="btn btn-dark" value="Add"/>
    </form>
</div>

<div class="container">
    <h3>Certificates</h3>
    <ul id="certificates-list"></ul>
    <form class="row g-3" onsubmit="addCertificate()" id="certificate-form">
        <input
                class="form-control"
                type="text"
                placeholder="Certificate name"
                name="certificate"
        />
        <input
                class="form-control"
                type="text"
                placeholder="Organisation name"
                name="organisation"
        />
        <input
                class="form-control"
                type="text"
                placeholder="Certificate description"
                name="description"
        />
        <input type="submit" class="btn btn-dark" value="Add"/>
    </form>
</div>

<div class="container">
    <h3>Charities</h3>
    <ul id="charities-list"></ul>
    <form class="row g-3" onsubmit="addCharity()" id="charity-form">
        <input
                class="form-control"
                type="text"
                placeholder="Charity name"
                name="charity"
        />
        <input
                class="form-control"
                type="text"
                placeholder="Organisation name"
                name="organisation"
        />
        <input
                class="form-control"
                type="text"
                placeholder="Charity description"
                name="description"
        />
        <label for="languageName" class="form-label">Start date</label>
        <input class="form-control" type="date" name="start_date"/>
        <label for="languageName" class="form-label">End date</label>
        <input class="form-control" type="date" name="end_date"/>
        <input type="submit" class="btn btn-dark" value="Add"/>
    </form>
</div>

<div class="container">
    <h3>Educations</h3>
    <ul id="educations-list"></ul>
    <form class="row g-3" onsubmit="addEducation()" id="education-form">
        <input
                class="form-control"
                type="text"
                placeholder="School name"
                name="school"
        />
        <input
                class="form-control"
                type="text"
                placeholder="Major name"
                name="major"
        />
        <input
                class="form-control"
                type="text"
                placeholder="School description"
                name="description"
        />
        <label for="languageName" class="form-label">Start date</label>
        <input class="form-control" type="date" name="start_date"/>
        <label for="languageName" class="form-label">End date</label>
        <input class="form-control" type="date" name="end_date"/>
        <input type="submit" class="btn btn-dark" value="Add"/>
    </form>
</div>

<div class="container">
    <h3>Experience</h3>
    <ul id="experience-list"></ul>
    <form class="row g-3" onsubmit="addExperience()" id="experience-form">
        <input
                class="form-control"
                type="text"
                placeholder="Company name"
                name="company"
        />
        <input
                class="form-control"
                type="text"
                placeholder="Position name"
                name="position"
        />
        <input
                class="form-control"
                type="text"
                placeholder="Description"
                name="description"
        />
        <label for="languageName" class="form-label">Start date</label>
        <input class="form-control" type="date" name="start_date"/>
        <label for="languageName" class="form-label">End date</label>
        <input class="form-control" type="date" name="end_date"/>
        <input type="submit" class="btn btn-dark" value="Add"/>
    </form>
</div>

<div class="container">
    <h3>Projects</h3>
    <ul id="projects-list"></ul>
    <form class="row g-3" onsubmit="addProject()" id="project-form">
        <input
                class="form-control"
                type="text"
                placeholder="Project name"
                name="project"
        />
        <input
                class="form-control"
                type="text"
                placeholder="Description"
                name="description"
        />
        <input
                class="form-control"
                type="text"
                placeholder="Link to project"
                name="url"
        />
        <input type="submit" class="btn btn-dark" value="Add"/>
    </form>
</div>

<div class="container">
    <h3>Social Platforms</h3>
    <ul id="social-platforms-list"></ul>
    <form
            class="row g-3"
            onsubmit="addSocialPlatform()"
            id="social-platform-form"
    >
        <input
                class="form-control"
                type="text"
                placeholder="Social platform name"
                name="social_platform"
        />
        <input
                class="form-control"
                type="text"
                placeholder="Link to social platform"
                name="url"
        />
        <input type="submit" class="btn btn-dark" value="Add"/>
    </form>
</div>

<div class="container">
    <h3>Job Posting Websites for Scraping</h3>
    <ul id="websites-list"></ul>
    <form onsubmit="addWebsite()" id="website-form">
        <input type="text" placeholder="User login email" name="user_email">
        <input type="text" placeholder="User login password"
               name="user_password">
        <input type="text" placeholder="Url to a website" name="url">
        <input type="submit" class="btn btn-dark" value="Add"/>
    </form>
</div>

<button onclick="postFormData()" class="btn btn-dark form-control">
    Create user
</button>

{% endblock content %}

{% block scripts %}

<script>
    let locations = [];
    let programmingLanguages = [];
    let languages = [];
    let certificates = [];
    let experiences = [];
    let educations = [];
    let charities = [];
    let socialPlatforms = [];
    let tools = [];
    let projects = [];
    let websites = [];

    // TODO: Check if user input is not empty, if so return modal with message
    function addLocation() {
        event.preventDefault();
        const formData = new FormData(document.getElementById("location-form"));

        const elem = {
            country: formData.get("country"),
            state: formData.get("state"),
            city: formData.get("city"),
            zip_code: formData.get("zip_code")
        };

        locations.push(elem);
        document.getElementById("locations-list").innerHTML +=
            "<li>" + JSON.stringify(elem) + "</li>";
    }

    function addLanguage() {
        event.preventDefault();
        const formData = new FormData(document.getElementById("language-form"));

        const elem = {
            language: formData.get("language"),
            level: formData.get("level")
        };

        languages.push(elem);
        document.getElementById("languages-list").innerHTML +=
            "<li>" + JSON.stringify(elem) + "</li>";
    }

    function addProgrammingLanguage() {
        event.preventDefault();
        const formData = new FormData(
            document.getElementById("programming-language-form")
        );

        const elem = {
            programming_language: formData.get("programming_language"),
            level: formData.get("level")
        };

        programmingLanguages.push(elem);
        document.getElementById("programming-languages-list").innerHTML +=
            "<li>" + JSON.stringify(elem) + "</li>";
    }

    function addTool() {
        event.preventDefault();
        const formData = new FormData(document.getElementById("tool-form"));

        const elem = {tool: formData.get("tool"), level: formData.get("level")};

        tools.push(elem);
        document.getElementById("tools-list").innerHTML +=
            "<li>" + JSON.stringify(elem) + "</li>";
    }

    function addCertificate() {
        event.preventDefault();
        const formData = new FormData(
            document.getElementById("certificate-form")
        );

        const elem = {
            certificate: formData.get("certificate"),
            description: formData.get("organisation"),
            organisation: formData.get("description"),
        };

        certificates.push(elem);
        document.getElementById("certificates-list").innerHTML +=
            "<li>" + JSON.stringify(elem) + "</li>";
    }

    function addCharity() {
        event.preventDefault();
        const formData = new FormData(document.getElementById("charity-form"));

        const elem = {
            charity: formData.get("charity"),
            description: formData.get("organisation"),
            organisation: formData.get("description"),
            start_date: formData.get("start_date"),
            end_date: formData.get("end_date"),
        };

        charities.push(elem);
        document.getElementById("charities-list").innerHTML +=
            "<li>" + JSON.stringify(elem) + "</li>";
    }

    function addEducation() {
        event.preventDefault();
        const formData = new FormData(document.getElementById("education-form"));

        const elem = {
            school: formData.get("school"),
            major: formData.get("major"),
            description: formData.get("description"),
            start_date: formData.get("start_date"),
            end_date: formData.get("end_date"),
        };

        educations.push(elem);
        document.getElementById("educations-list").innerHTML +=
            "<li>" + JSON.stringify(elem) + "</li>";
    }

    function addExperience() {
        event.preventDefault();
        const formData = new FormData(document.getElementById("experience-form"));

        const elem = {
            company: formData.get("company"),
            position: formData.get("position"),
            description: formData.get("description"),
            start_date: formData.get("start_date"),
            end_date: formData.get("end_date"),
        };

        experiences.push(elem);
        document.getElementById("experience-list").innerHTML +=
            "<li>" + JSON.stringify(elem) + "</li>";
    }

    function addProject() {
        event.preventDefault();
        const formData = new FormData(document.getElementById("project-form"));

        const elem = {
            project: formData.get("project"),
            description: formData.get("description"),
            url: formData.get("url")
        };

        projects.push(elem);
        document.getElementById("projects-list").innerHTML +=
            "<li>" + JSON.stringify(elem) + "</li>";
    }

    function addSocialPlatform() {
        event.preventDefault();
        const formData = new FormData(
            document.getElementById("social-platform-form")
        );

        const elem = {
            social_platform: formData.get("social_platform"),
            url: formData.get("url")
        };

        socialPlatforms.push(elem);
        document.getElementById("social-platforms-list").innerHTML +=
            "<li>" + JSON.stringify(elem) + "</li>";
    }

    function addWebsite() {
        event.preventDefault();
        const formData = new FormData(document.getElementById("website-form"));

        const elem = {
            cookies: "", // TODO: Remove this line after fix in Python code
            user_email: formData.get("user_email"),
            user_password: formData.get("user_password"),
            url: formData.get("url"),
            automation_steps: null,
        };

        websites.push(elem);
        document.getElementById("websites-list").innerHTML +=
            "<li>" + JSON.stringify(elem) + "</li>";
    }

    async function postFormData() {
        const formData = new FormData(document.getElementById("user-info"));

        let firstname = formData.get("firstname");
        let surname = formData.get("surname");
        let email = formData.get("email");
        if (firstname === "" || surname === "" || email === "") {
            alert("Firstname, surname and email fields must be filled");
            return;
        }

        let dataJson = {
            profile: {
                first_name: firstname,
                middle_name: formData.get("middlename"),
                surname: surname,
                age: formData.get("age"),
                email: email,
                phone_number: formData.get("phone_number"),
            },
            locations: locations,
            programming_languages: programmingLanguages,
            languages: languages,
            tools: tools,
            certificates: certificates,
            charities: charities,
            educations: educations,
            experiences: experiences,
            projects: projects,
            social_platforms: socialPlatforms,
            websites: websites,
        };

        console.log(JSON.stringify(dataJson));
        const response = await fetch("{{ url_for('register') }}", {
            method: "POST",
            headers: {
                Accept: "application/json",
                "Content-Type": "application/json",
            },
            body: JSON.stringify(dataJson),
        });

        window.location.href = response.url;
    }
</script>

{% endblock scripts %}
